@model MyBlog.Models.PostModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PostModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrentDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrentDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Published)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Published)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
