@model IEnumerable<MyBlog.Models.PostModel>

@{
    ViewBag.Title = "Index";
}

<h2>Top posts</h2>

@foreach (var item in Model)
{
    <article>
        @Html.DisplayFor(modelItem => item.Title)

        @Html.DisplayFor(modelItem => item.Description)
        <div>
            @Html.DisplayFor(modelItem => item.CurrentDate)

            <div class="btn-group">
                @Html.ActionLink("Details", "Details", "Posts", new { id = item.Id }, new { @class = "btn" })
                @if (User.IsInRole("admin") || User.Identity.Name == item.User.UserName)
                {
                    @Html.ActionLink("Edit", "Edit", "Posts", new { id = item.Id }, new { @class = "btn" })
                    @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.Id }, new { @class = "btn" })}

            </div>
        </div>
        <hr />
    </article> 
}

