<ul class="nav pull-right nav-list">
    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Blog", "Index", "Posts")</li>
    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
</ul>

