@using MyBlog.Helpers
<ul class="nav pull-right nav-list">
    <li class="active">@Html.MenuLink("Home", "Index", "Home")</li>
    <li>@Html.MenuLink("About", "About", "Home")</li>
    <li>@Html.MenuLink("Contact", "Contact", "Home")</li>
    <li>@Html.MenuLink("Blog", "Index", "Posts")</li>
    <li>@Html.MenuLink("Admin", "Index", "Admin")</li>
</ul>

