@model IEnumerable<MyBlog.Models.PostModel>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create", "Posts", null, new { @class = "btn btn-success" })
</p>


@foreach (var item in Model)
{
    <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
    <p>@Html.DisplayFor(modelItem => item.Description)</p>
    <span>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)/</span>
    <span>@Html.DisplayFor(modelItem => item.CurrentDate) /</span>
    <span>@Html.DisplayFor(modelItem => item.PostComments.Count) comments</span>
    
    <span class="btn-group">
        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn" })
        @if (User.IsInRole("admin") || item.User.UserName == User.Identity.Name)
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
        }



    </span>
    <hr />

}

